In [18]:
from SALib.sample import saltelli
from SALib.analyze import sobol
import pandas as pd
import numpy as np
import random, math

In [19]:
path_age_data = './storage/age_data_2005.xls'
sheet2m = 'm; 2010-50, medium-fertility'
sheet2f = 'f; 2010-50, medium-fertility'

In [20]:
choosenCountryName = 'Kazakhstan'
choosenCountryCode = 398

In [21]:
cols = [
    'Index', 'Variant', 'Area', 'Notes',
    'Country_code', 'Reference_date',
    '0 - 4', '5 - 9', '10 - 14', '15 - 19',
    '20 - 24', '25 - 29', '30 - 34', '35 - 39',
    '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
    '65 - 69', '70 - 74', '75 - 79', '80 - 84', '85 - 89', '90 - 94',
    '95 - 99', '100+'
]
cols_ext_period = [ 'Reference_date', 'Sex',
    '0 - 4', '5 - 9', '10 - 14', '15 - 19',
    '20 - 24', '25 - 29', '30 - 34', '35 - 39',
    '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
    '65 - 69', '70 - 74', '75 - 79', '80 - 84'
    # ,'85 - 89', '90 - 94', '95 - 99', '100+'
]
cols_period = [
    '0 - 4', '5 - 9', '10 - 14', '15 - 19',
    '20 - 24', '25 - 29', '30 - 34', '35 - 39',
    '40 - 44', '45 - 49', '50 - 54', '55 - 59', '60 - 64',
    '65 - 69', '70 - 74', '75 - 79', '80 - 84'
    # ,'85 - 89', '90 - 94', '95 - 99', '100+'
]

In [22]:
dff = pd.read_excel(path_age_data, sheet_name=sheet2f)
dff.columns = cols
dff.dropna(subset=['Index', 'Variant', 'Area'], inplace=True)
dff = dff.iloc[1: , :]
dff['Sex'] = 'f'
dff

,Index,Variant,Area,Notes,Country_code,Reference_date,0 - 4,5 - 9,10 - 14,15 - 19,...,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+,Sex
6,0,Medium,WORLD,NaN,900,2010,308533.785,294657.693,290611.684,292432.301,...,122511.733,93635.052,78326.444,57164.141,38045.161,19800.176,7011.671,2016.854,321.32,f
7,0,Medium,WORLD,NaN,900,2015,315805.329,303018.991,292885.218,289573.031,...,148308.309,113789.754,82929.566,64238.548,41702.109,23263.384,9596.496,2454.44,462.89,f
8,0,Medium,WORLD,NaN,900,2020,315649.009,310982.69,301400.962,291929.141,...,162404.154,138320.502,101618.805,68871.533,47477.582,26057.288,11572.483,3504.545,610.63,f
9,0,Medium,WORLD,NaN,900,2025,310182.964,311508.632,309625.656,300538.936,...,185253.907,152021.971,124167.813,85350.823,51795.206,30199.413,13335.882,4375.202,889.925,f
10,0,Medium,WORLD,NaN,900,2030,304844.9,306661.641,310398.204,308865.187,...,204234.111,174135.457,137163.773,104977.138,65159.676,33746.3,15799.698,5229.787,1183.059,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026,259,Medium,Tonga,NaN,776,2030,3.893,3.86,4.279,3.98,...,2.447,1.328,1.254,1.012,0.632,0.359,0.143,0.043,0.007,f
2027,259,Medium,Tonga,NaN,776,2035,3.419,3.483,3.896,3.6,...,2.103,1.881,1.34,1.054,0.761,0.397,0.175,0.048,0.009,f
2028,259,Medium,Tonga,NaN,776,2040,2.88,3.011,3.519,3.218,...,2.352,1.567,1.844,1.134,0.801,0.486,0.197,0.06,0.01,f
2029,259,Medium,Tonga,NaN,776,2045,2.379,2.473,3.047,2.841,...,3.062,1.807,1.568,1.571,0.871,0.519,0.247,0.069,0.013,f
2030,259,Medium,Tonga,NaN,776,2050,1.93,1.973,2.51,2.37,...,2.166,2.483,1.792,1.344,1.217,0.573,0.268,0.089,0.015,f

In [23]:
dfm = pd.read_excel(path_age_data, sheet_name=sheet2m)
dfm.columns = cols
dfm.dropna(subset=['Index', 'Variant', 'Area'], inplace=True)
dfm = dfm.iloc[1: , :]
dfm['Sex'] = 'm'
dfm

,Index,Variant,Area,Notes,Country_code,Reference_date,0 - 4,5 - 9,10 - 14,15 - 19,...,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+,Sex
6,0,Medium,WORLD,NaN,900,2010,324453.051,310015.285,306138.861,308097.76,...,115546.475,83920.135,64827.917,43392.716,24623.641,10130.297,2814.41,579.507,70.612,m
7,0,Medium,WORLD,NaN,900,2015,332039.152,318537.914,308006.748,304640.396,...,140169.446,102584.743,69794.857,48624.43,27908.199,12593.943,3801.933,710.932,96.705,m
8,0,Medium,WORLD,NaN,900,2020,331693.21,326749.369,316675.114,306600.863,...,154172.517,125079.555,86125.931,53234.511,31788.912,14568.028,4848.809,984.569,122.498,m
9,0,Medium,WORLD,NaN,900,2025,325721.711,327066.55,325143.53,315364.115,...,175198.142,138300.977,105630.162,66460.298,35498.631,16928.036,5737.2,1290.96,168.187,m
10,0,Medium,WORLD,NaN,900,2030,319583.011,321714.812,325704.853,323932.697,...,194019.158,158169.25,117664.376,82109.358,45013.187,19405.719,6846.228,1568.629,224.869,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026,259,Medium,Tonga,NaN,776,2030,4.067,4.148,4.404,4.259,...,2.627,1.814,1.265,0.955,0.504,0.245,0.086,0.016,0.002,m
2027,259,Medium,Tonga,NaN,776,2035,3.567,3.748,3.995,3.855,...,2.204,2.38,1.54,0.964,0.63,0.262,0.091,0.02,0.002,m
2028,259,Medium,Tonga,NaN,776,2040,2.997,3.249,3.596,3.447,...,2.524,2.015,2.032,1.188,0.645,0.335,0.1,0.022,0.002,m
2029,259,Medium,Tonga,NaN,776,2045,2.467,2.68,3.097,3.048,...,3.182,2.316,1.738,1.585,0.807,0.35,0.131,0.024,0.003,m
2030,259,Medium,Tonga,NaN,776,2050,1.992,2.151,2.529,2.55,...,2.853,2.928,2.01,1.37,1.091,0.447,0.141,0.033,0.003,m

In [24]:
df = dfm.append(dff)
df

,Index,Variant,Area,Notes,Country_code,Reference_date,0 - 4,5 - 9,10 - 14,15 - 19,...,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+,Sex
6,0,Medium,WORLD,NaN,900,2010,324453.051,310015.285,306138.861,308097.76,...,115546.475,83920.135,64827.917,43392.716,24623.641,10130.297,2814.41,579.507,70.612,m
7,0,Medium,WORLD,NaN,900,2015,332039.152,318537.914,308006.748,304640.396,...,140169.446,102584.743,69794.857,48624.43,27908.199,12593.943,3801.933,710.932,96.705,m
8,0,Medium,WORLD,NaN,900,2020,331693.21,326749.369,316675.114,306600.863,...,154172.517,125079.555,86125.931,53234.511,31788.912,14568.028,4848.809,984.569,122.498,m
9,0,Medium,WORLD,NaN,900,2025,325721.711,327066.55,325143.53,315364.115,...,175198.142,138300.977,105630.162,66460.298,35498.631,16928.036,5737.2,1290.96,168.187,m
10,0,Medium,WORLD,NaN,900,2030,319583.011,321714.812,325704.853,323932.697,...,194019.158,158169.25,117664.376,82109.358,45013.187,19405.719,6846.228,1568.629,224.869,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026,259,Medium,Tonga,NaN,776,2030,3.893,3.86,4.279,3.98,...,2.447,1.328,1.254,1.012,0.632,0.359,0.143,0.043,0.007,f
2027,259,Medium,Tonga,NaN,776,2035,3.419,3.483,3.896,3.6,...,2.103,1.881,1.34,1.054,0.761,0.397,0.175,0.048,0.009,f
2028,259,Medium,Tonga,NaN,776,2040,2.88,3.011,3.519,3.218,...,2.352,1.567,1.844,1.134,0.801,0.486,0.197,0.06,0.01,f
2029,259,Medium,Tonga,NaN,776,2045,2.379,2.473,3.047,2.841,...,3.062,1.807,1.568,1.571,0.871,0.519,0.247,0.069,0.013,f
2030,259,Medium,Tonga,NaN,776,2050,1.93,1.973,2.51,2.37,...,2.166,2.483,1.792,1.344,1.217,0.573,0.268,0.089,0.015,f

In [25]:
d_splited = df[ df['Country_code']==choosenCountryCode ][cols_ext_period]
d_splited

,Reference_date,Sex,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,45 - 49,50 - 54,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84
744,2010,m,551.44,527.118,532.465,620.22,778.31,637.738,567.77,523.364,432.198,503.798,425.954,351.155,184.392,131.194,168.297,64.555,48.55
745,2015,m,560.964,535.575,510.62,513.625,598.343,753.341,612.803,539.539,493.586,402.865,462.056,379.858,297.755,146.689,96.529,110.456,35.265
746,2020,m,529.328,545.992,519.458,492.345,493.513,577.038,727.52,584.873,510.888,463.401,370.099,415.447,325.547,241.842,110.007,64.368,62.016
747,2025,m,477.05,515.627,530.16,501.498,473.038,474.543,555.616,699.145,556.856,482.175,429.368,334.252,359.579,267.264,184.495,74.449,36.549
748,2030,m,432.262,464.478,500.129,512.439,482.632,455.06,455.637,531.765,670.298,528.565,449.493,391.097,290.714,298.047,206.016,126.831,42.949
749,2035,m,412.229,420.541,449.313,482.758,493.958,465.22,437.215,434.351,507.883,640.501,495.845,412.113,343.448,242.355,232.052,143.335,74.471
750,2040,m,407.092,401.026,405.625,432.285,464.814,477.01,447.946,416.953,413.271,484.482,605.008,457.594,364.654,289.113,190.109,163.421,85.416
751,2045,m,396.271,396.252,386.269,388.865,414.888,448.552,460.229,428.237,396.955,393.521,457.616,562.101,407.925,309.355,229.04,135.191,98.719
752,2050,m,370.329,385.729,381.596,369.668,371.874,399.296,432.476,440.966,408.75,378.515,371.615,425.973,505.132,348.904,247.346,164.874,82.751
744,2010,f,531.77,511.709,514.952,599.523,765.301,635.753,597.109,546.17,468.756,571.169,504.985,453.326,251.553,210.912,279.557,117.081,122.937
745,2015,f,539.964,518.813,496.341,497.993,583.288,751.329,621.074,579.138,528.359,452.63,549.254,480.626,420.559,223.923,177.331,217.305,78.018
746,2020,f,508.932,527.435,503.575,479.603,482.544,570.742,736.581,603.524,561.675,512.069,434.79,524.758,448.107,379.611,190.002,138.366,148.452
747,2025,f,457.419,497.143,512.333,487.001,464.555,470.824,557.292,718.853,586.43,545.648,493.756,415.44,491.486,406.691,327.128,149.999,95.317
748,2030,f,413.186,446.279,482.198,495.883,472.18,453.168,458.066,540.962,701.366,570.758,527.492,473.495,389.159,448.49,352.934,262.856,104.953
749,2035,f,392.968,402.536,431.486,465.912,481.258,461,440.696,442.512,525.28,684.969,552.927,507.192,445.614,355.557,391.772,286.264,187.451
750,2040,f,387.226,382.596,387.845,415.334,451.482,470.186,448.632,425.383,427.765,511.397,665.832,532.845,479.023,409.429,311.538,320.906,207.012
751,2045,f,376.189,377.026,367.962,371.788,401.086,440.572,457.879,433.402,410.924,415.244,495.893,643.65,504.757,442.083,361.35,256.703,235.146
752,2050,f,350.997,366.153,362.429,351.962,357.684,390.365,428.427,442.722,419.058,398.835,401.751,478.858,612.251,467.629,392.445,300.397,189.851

In [32]:
db = d_splited.groupby(by=['Reference_date'])[cols_period].sum()
db.insert(0, 'Reference_date', db.index)
db.reset_index(drop=True, inplace=True)
db

,Reference_date,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,45 - 49,50 - 54,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84
0,2010,1083.210,1038.827,1047.417,1219.743,1543.611,1273.491,1164.879,1069.534,900.954,1074.967,930.939,804.481,435.945,342.106,447.854,181.636,171.487
1,2015,1100.928,1054.388,1006.961,1011.618,1181.631,1504.670,1233.877,1118.677,1021.945,855.495,1011.310,860.484,718.314,370.612,273.860,327.761,113.283
2,2020,1038.260,1073.427,1023.033,971.948,976.057,1147.780,1464.101,1188.397,1072.563,975.470,804.889,940.205,773.654,621.453,300.009,202.734,210.468
3,2025,934.469,1012.770,1042.493,988.499,937.593,945.367,1112.908,1417.998,1143.286,1027.823,923.124,749.692,851.065,673.955,511.623,224.448,131.866
4,2030,845.448,910.757,982.327,1008.322,954.812,908.228,913.703,1072.727,1371.664,1099.323,976.985,864.592,679.873,746.537,558.950,389.687,147.902
5,2035,805.197,823.077,880.799,948.670,975.216,926.220,877.911,876.863,1033.163,1325.470,1048.772,919.305,789.062,597.912,623.824,429.599,261.922
6,2040,794.318,783.622,793.470,847.619,916.296,947.196,896.578,842.336,841.036,995.879,1270.840,990.439,843.677,698.542,501.647,484.327,292.428
7,2045,772.460,773.278,754.231,760.653,815.974,889.124,918.108,861.639,807.879,808.765,953.509,1205.751,912.682,751.438,590.390,391.894,333.865
8,2050,721.326,751.882,744.025,721.630,729.558,789.661,860.903,883.688,827.808,777.350,773.366,904.831,1117.383,816.533,639.791,465.271,272.602

In [27]:
def Model(coef_fertility, coef_bg_ratio, survival_rate):
    return coef_fertility*(coef_bg_ratio+survival_rate)


def Evaluate(param_values):
    Y = []
    for params in param_values:
        x1, x2, x3 = params
        res = Model(x1, x2, x3)
        Y.append(res)
    return np.array(Y)

In [28]:
# Define the model inputs
problem = {
    'num_vars': 3,
    'names': ['x1', 'x2', 'x3'],
    'bounds': [[-1, 1],
               [-1, 1],
               [-1, 1]]
}

# 1 task

Perform a **sensitivity analysis** for a demographic model with respect to a set of parameters: fertility rate, boys/girls ratio, «survival» rate for different age groups (not all can be taken). Model output: number of inhabitants for a given year. Test on the final forecast values ​​for 10, 20, 50, 100 years.

In [29]:
def senditivity_indices(x: pd.DataFrame(), label: str):
    s = x.var()[label] / x.var()[label]
    pass

# 2 task

Define ranges of model parameter values ​​from data for previous periods (1950-2000)

# 3 task

Based on all ranges of parameter values, perform an **uncertainty analysis** in the form of a graph with confidence intervals of the results. The values ​​between the boundaries can be considered evenly distributed.